# Laravel / PHP
/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
composer.lock
phpunit.xml
.phpunit.result.cache
/.phpunit.cache

# Environment Files
.env
.env.backup
.env.production

# Logs
npm-debug.log
yarn-error.log
/storage/logs/

# IDE / Editor
/.idea
/.vscode
/.fleet

# OS
.DS_Store
Thumbs.db

# Homestead
Homestead.json
Homestead.yaml

# Misc
auth.json
